<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }} Notion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tut_main.css') }}">
</head>

<body>

    <div>

        <h1>Hello, {{ name }}!</h1>

        <ul>
            {% for q in page_names %}
            <li>{{q}}</li>
            ​{% endfor %}
        </ul>




        <!-- <img src="{{ url_for('static', filename='images/logo512.png') }}" />

        <p>hosted by {{company}}</p> -->

    </div>

</body>

</html>